node:
  version: 5.1.0
  checksum: 25b2d3b7dd57fe47a483539fea240a3c6bbbdab4d89a45a812134cf1380ecb94
  make_jobs: 2
  # install_from_ppa: True
  # ppa:
  #   repository_url: https://deb.nodesource.com/node_4.x
